{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load query_transform %}



{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">All Tasks</h2>
      <p class="mb-0">Simple text.</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="{% url "task_manager:task_create" %}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        New Task
      </a>
      {% include "includes/toggle_elems_on_page.html" %}
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-xl-10">
      {% for task in task_list %}
        <div class="card hover-state border-bottom rounded py-3 mb-2">
          <div class="card-body d-sm-flex justify-content-between align-items-center flex-wrap flex-lg-nowrap py-0">
            <div class="col-11 col-lg-10 px-0 mb-4 mb-md-0">
                <span class="fw-light">
                  Task id #{{ task.pk }} Created on {{ task.created_time|date:"SHORT_DATETIME_FORMAT" }} by {{ task.creator.get_full_name }}
                </span>
              <div class="mb-0">
                <a href="{% url "task_manager:task_detail" task.pk %}"><h3 class="h5 mb-0">{{ task.name }}</h3></a>
                <div class="mb-0">
                  <span class="fw-bold"> Project: {{ task.project.name }} </span>
                </div>
                <div class="mb-2">
                  <span class="fw-bold">
                    Assignees:
                    {% for worker in task.assignees.all %}
                      {{ worker.get_full_name }}{% if worker == user %}(Me){% endif %}.
                    {% empty %}
                      Unassigned
                    {% endfor %}
                  </span>
                </div>
              </div>
              <div class="mb-2">
                <div class="d-block d-sm-flex mb-0">
                  <div>
                    <h4 class="h6 fw-normal text-gray d-flex align-items-center mb-3 mb-sm-0">
                      <svg class="icon icon-xxs text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20"
                           xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                              clip-rule="evenodd">
                        </path>
                      </svg>
                      {{ task.deadline }}
                    </h4>
                  </div>
                  <div class="ms-sm-3">
                    {% if task.priority == 1 %}
                      <span class="badge super-badge bg-indigo">Low</span>
                    {% elif task.priority == 2 %}
                      <span class="badge super-badge bg-info">Normal</span>
                    {% elif task.priority == 3 %}
                      <span class="badge super-badge bg-warning">High</span>
                    {% else %}
                      <span class="badge super-badge bg-danger">Block</span>
                    {% endif %}
                  </div>
                </div>
                <span class="fw-light"> Task type: {{ task.task_type.name }} </span>
              </div>
              <div>
              <span class="fw-normal text-gray">
                {{ task.description|truncatechars:170 }}
              </span>
              </div>
              {% for tag in task.tags.all %}
                <span class="badge bg-primary">{{ tag.name }}</span> &nbsp;
              {% endfor %}
            </div>
            <a class="d-flex align-items-center" href="{% url "task_manager:task_detail" task.pk %}">
              <svg class="icon icon-xxs text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                <path fill-rule="evenodd"
                      d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                      clip-rule="evenodd"></path>
              </svg>
              Edit
            </a>
          </div>
        </div>
      {% empty %}
        <h6> Sorry! No tasks. Please create task </h6>
      {% endfor %}
    </div>


    <div class="col-12 col-xl-2">
      {% include "includes/filter_form.html" %}
    </div>
  </div>

{% endblock %}
