{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Teams</h2>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      {% if user.is_superuser %}
        <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
          <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
          New Team
        </a>
      {% else %}
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
              data-bs-content="Only superuser can create the team">
        <button class="btn btn-sm btn-gray-800" type="button" disabled>
          <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
          New Team
        </button>
        </span>
      {% endif %}
    </div>
  </div>
  <div class="card border-0 shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-light">
          <tr>
            <th class="border-0 rounded-start">Name</th>
            <th class="border-0">Projects</th>
            <th class="border-0">Number of workers</th>
            <th class="border-0 rounded-end">Edit</th>
          </tr>
          </thead>
          <tbody>
          {% for team in team_list %}
            <tr>
              <td class="fw-bold align-items-center">
                {% if user.is_superuser %}
                  <p><a href="#"> {{ team.name }} </a></p>
                {% else %}
                  <p>{{ team.name }}</p>
                {% endif %}
              </td>
              <td>
                {% for project in team.projects.all %}
                  <span class="row">{{ project.name }}</span>
                {% empty %}
                  No project
                {% endfor %}
              </td>
              <td>
                {{ team.workers.count }}
              </td>
              <td>
                {% if user.is_superuser %}
                  <a href="#" class="btn btn-sm btn-gray-800">Edit</a>
                {% else %}
                  <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                        data-bs-content="Only superuser can edit the team">
                    <button class="btn btn-sm btn-gray-800" type="button" disabled>Edit</button>
                  </span>
                {% endif %}
              </td>
            </tr>
          {% empty %}
            <h4> No data ... </h4>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
